blib/
_build/
cover_db/
inc/
Build
.last_cover_stats
Makefile.old
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
META.json
MYMETA.json
*.bak
*.tar.gz
perltidy.LOG

Verse-*/
verse-*
verse
/fatlib
/docker/lib
/docker/bin
