Source: libverse-perl
Maintainer: Package Monkey <packages@niftylogic.com>
Section: perl
Priority: optional
Homepage: http://packages.niftylogic.com/perl/Verse
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8),
               libhash-merge-perl,
               libtemplate-perl,
               libtest-deep-perl,
               libtest-exception-perl,
               libtest-output-perl,
               libtime-modules-perl,
               libyaml-perl,
               perl,
               perl-base,
               perl-modules

Package: libverse-perl
Description: Web Site Poetry
Architecture: all
Depends: debhelper (>= 8),
         libhash-merge-perl,
         libtemplate-perl,
         libtime-modules-perl,
         libyaml-perl,
         markdown
         perl,
         perl-base,
         perl-modules,
         ${misc:Depends}
